@font-face {
	font-family: "Figtree";
	src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

:root {
	--ff-main: "Figtree", Arial, sans-serif;
	--fs-p: 1rem;
	--fw-500: 500;
	--fw-600: 800;

	--clr-yellow: hsl(47, 88%, 63%);
	--clr-white: hsl(0, 0%, 100%);
	--clr-gray-500: hsl(0, 0%, 42%);
	--clr-gray-950: hsl(0, 0%, 7%);

	--sz-50: 0.5em;
	--sz-100: 1em;
	--sz-150: 1.5em;
	--sz-200: 2em;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: var(--ff-main);
	font-size: var(--fs-p);
	color: var(--clr-gray-950);
	background-color: var(--clr-yellow);
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	min-height: 100svh;
	overflow-x: hidden;
}
/* containers */
main {
	border: 2px solid var(--clr-gray-950);
	border-radius: 20px;
	box-shadow: 10px 10px 0px var(--clr-gray-950);
	background-color: var(--clr-white);
	padding: var(--sz-150);
	margin-bottom: 2rem;
	width: min(90%, 400px);
}
article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
}
header div {
	width: 100%;
	height: 100%;
	background-size: contain;
	display: grid;
	place-items: center;
}
div img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
footer {
	display: flex;
	align-items: center;
	margin-right: auto;
	margin-top: var(--sz-150);
}
footer img {
	width: 30%;
	height: 30%;
	margin-right: var(--sz-100);
}
footer p {
	font-weight: var(--fw-600);
}
/* typography */
div + p {
	font-size: 0.85rem;
	text-align: center;
	font-weight: var(--fw-600);
	background-color: var(--clr-yellow);
	padding: 0.4em;
	border-radius: 3px;
	margin: var(--sz-200) 0 var(--sz-100) 0;
	max-width: 30%;
}
header p time {
	font-size: 0.8rem;
	font-weight: var(--fw-500);
	line-height: 1.5;
}
h1 {
	width: 100%;
	font-weight: var(--fw-600);
	font-size: 1.15rem;
	margin: var(--sz-100) 0;
	transition: color 0.5s ease-in-out;
	cursor: pointer;
}
h1:hover {
	color: var(--clr-yellow);
}
h1 section {
	width: 100%;
}
section > p {
	line-height: 1.5;
	font-size: 0.7rem;
	color: var(--clr-gray-500);
	font-weight: var(--fw-500);
}
.attribution {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.attribution > div {
	margin-bottom: var(--sz-50);
}
a {
	text-decoration: none;
	color: var(--clr-gray-950);
}
a:hover {
	border-bottom: 2px solid var(--clr-gray-950);
}
@media only screen and (min-width: 375px) {
	h1 {
		font-size: 1.3rem;
	}
	section > p {
		font-size: 0.875rem;
	}
}
@media only screen and (min-width: 600px) {
	h1 {
		font-size: 1.5rem;
	}
	section > p,
	div + p {
		font-size: 1rem;
	}
}
